* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body{
    background-color: aliceblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
header{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.418);
    width: 100%;
    z-index: 2;

}
.navbar{
    justify-content: space-around;
        border: 1px black solid;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
    }
    .navbar li{
        padding: 0 0.75rem;
        text-align: center;
}
/* groete microsoft img met text in*/
.showcace{
    border: 3px dotted black;
    position: relative;
}
.showcace img{
     width: 100%;
    
}
.microsoft-text{
    position: absolute;
    top: 30%;
    left: 30%;
    color:white
}
/* production */
.production{
    border: 1px red solid;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

/* media screen////////////////////////////////////////////// */
@media screen and (max-width: 369px){
    .navbar-header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
        
    }
    .navebar-grid{
        
        display: grid;
        /* grid-template-rows:1fr 1fr; */
        grid-template-columns: 50% 50%



    }
    .logo{
        grid-column-start: 1;
        grid-column-end: 6;
        width: 60%;
    }

}